@import "tailwindcss";

@font-face {
    font-family: Poppins;
    src: url(/assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/assets/Inter-VariableFont_opsz\,wght.ttf);
}


@theme{
    --color-fire :#F57D31;
    --color-Bug :#A7B723;
    --color-Dark :#75574C;
    --color-Dragon:#7037FF;
    --color-Electric :#F9CF30;
    --color-Fairy :#E69EAC;
    --color-Fighting :#C12239;
    --color-Flying :#A891EC;
    --color-Ghost :#70559B;
    --color-Normal :#AAA67F;
    --color-Grass :#74CB48;
    --color-Ground :#DEC16B;
    --color-Ice :#9AD6DF;
    --color-Poison :#A43E9E;
    --color-Psychic :#FB5584;
    --color-Rock :#B69E31;
    --color-Steel :#B7B9D0;
    --color-Water :#6493EB;
}